* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quantico", sans-serif;
}
body,
.wrap,
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-image: url(./files/marble.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 10px;
  min-height: 100vh;
  transition: 1s;
}
.wrap {
  width: 500px;
  height: 500px;
  padding: 30px 30px 10px;
  background: #fff;
  background-image: url(./files/blackmarble.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  border: 10px solid rgb(43, 42, 42);
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.9);
  letter-spacing: 5px;
  position: relative;
  color: #fff;
  padding-bottom: 30px;
  transition: 1s;
}
body.active {
  background-image: url(./files/blackmarble.webp);

  transition: 1s;
}
.wrap.active {
  background-image: url(./files/marble.webp);
  color: #000;
  border: 10px solid rgb(215, 196, 196);
  transition: 1s;
}

.wrap.active .column select,
.wrap.active .column button,
.wrap.active button {
  color: #000;
  box-shadow: none;
  transition: 1s;
  background: none;
}

.wrap .side {
  font-size: 18px;
  margin-bottom: 10px;
}
.wrap .time {
  font-size: 52px;
  font-weight: 500;
}
.wrap .content {
  width: 100%;
  margin-top: 10px;
}
.content .column {
  margin: 10px;
}
.content.disable {
  cursor: no-drop;
}
.content .column {
  border-radius: 10px;
}
.content.disable .column {
  opacity: 0.3;
  pointer-events: none;
}
.column select {
  width: 80px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  cursor: pointer;
  color: #fff;
}
.column select option {
  background-color: #fff;
  color: #000;
}
.wrap button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  background: none;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.wrap .mode {
  bottom: 10%;
  left: calc(50% - 25px);
  position: absolute;
  width: 50px;
  height: 20px;
  background: #ccc;
  border-radius: 75px;
  box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset -2px -2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .mode::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 25px #fff;
  transform: translateX(-15px);
  transition: 1s;
}
.wrap .mode.active::before {
  background-color: #000;
  box-shadow: 0 5px 25px #000;
  transform: translateX(15px);
  transition: 1s;
}

@media (max-width: 510px) {
  .wrap {
    width: 450px;
    height: 450px;
  }
  .wrap {
    letter-spacing: 2px;
  }
  .wrap .time {
    font-size: 42px;
  }
  .wrap .side {
    font-size: 14px;
  }
  .content .column {
    margin: 5px;
  }
  .column select {
    font-size: 10px;
  }
}
